{
  "openapi": "3.1.0",
  "info": {
    "title": "Orchestra Agents API",
    "description": "Endpoints for Orchestra's AI agents: the agents, their skills and sessions.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.getorchestra.io/api/ai/v1"
    }
  ],
  "paths": {
    "/agents/avatar-catalog": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List agent avatars",
        "description": "List the avatars an agent can use: Orchestra's stock avatars and those uploaded to the workspace the credential resolves to. Pass an entry's `path` as `avatar_path` when creating or updating an agent. `url` is a short-lived link to the image, and is omitted for an uploaded avatar that is still being scanned for malware.",
        "operationId": "list_agent_avatars",
        "parameters": [
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentAvatarCatalogResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true
      }
    },
    "/agents": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Create an agent",
        "description": "Create an agent in the workspace the credential resolves to. Prompts are Markdown, `avatarPath` is a `path` from the avatar catalog, `gitEnabled` needs the workspace's git connection, and `llmKeyType` picks whose LLM key its sessions use. Secrets are returned masked.",
        "operationId": "create_agent",
        "parameters": [
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true,
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth": [
              "orchestra:write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List agents",
        "description": "List the agents in the workspace the credential resolves to, including those managed by Orchestra, filtered to the agents the caller may view. Prompts and secrets are not included; get an agent by id for those.",
        "operationId": "list_agents",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only return agents whose name or description contains this text, ignoring case.",
              "title": "Search"
            },
            "description": "Only return agents whose name or description contains this text, ignoring case."
          },
          {
            "name": "orchestra_managed",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "`true` returns only agents managed by Orchestra, `false` only the workspace's own. Omit it to return both.",
              "title": "Orchestra Managed"
            },
            "description": "`true` returns only agents managed by Orchestra, `false` only the workspace's own. Omit it to return both."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Results per page, from 1 to 100.",
              "default": 50,
              "title": "Page Size"
            },
            "description": "Results per page, from 1 to 100."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page to return, starting at 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "The page to return, starting at 1."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_AgentListResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true
      }
    },
    "/agents/{agent_id}": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Get an agent",
        "description": "Get an agent with its prompts and settings. Secrets are returned masked. Returns 404 if the agent does not exist in the workspace the credential resolves to.",
        "operationId": "get_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The id of the agent.",
              "title": "Agent Id"
            },
            "description": "The id of the agent."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true
      },
      "patch": {
        "tags": [
          "Agents"
        ],
        "summary": "Update an agent",
        "description": "Update the fields given and leave the rest unchanged; send `null` to clear an optional field. A masked secret value keeps the stored secret. An agent managed by Orchestra accepts only `gitEnabled`, `secrets` and `llmKeyType`, which apply to this workspace alone, and refuses any other field with 403.",
        "operationId": "update_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The id of the agent.",
              "title": "Agent Id"
            },
            "description": "The id of the agent."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true,
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth": [
              "orchestra:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Agents"
        ],
        "summary": "Delete an agent",
        "description": "Delete an agent from the workspace the credential resolves to. Agents managed by Orchestra cannot be deleted, and are refused with 403.",
        "operationId": "delete_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The id of the agent.",
              "title": "Agent Id"
            },
            "description": "The id of the agent."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true,
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth": [
              "orchestra:write"
            ]
          }
        ]
      }
    },
    "/agents/{agent_id}/skills": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List an agent's skills",
        "description": "List the skills attached to an agent, with each skill's name and description. Returns 404 if the agent does not exist in the workspace the credential resolves to.",
        "operationId": "list_agent_skills",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The id of the agent.",
              "title": "Agent Id"
            },
            "description": "The id of the agent."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Results per page, from 1 to 100.",
              "default": 50,
              "title": "Page Size"
            },
            "description": "Results per page, from 1 to 100."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page to return, starting at 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "The page to return, starting at 1."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_AgentSkillMappingResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true
      },
      "put": {
        "tags": [
          "Agents"
        ],
        "summary": "Set an agent's skills",
        "description": "Replace the skills attached to an agent with the given list: skills not in the list are detached, and an empty list detaches them all. Each `skillId` must be a skill in the same workspace or one managed by Orchestra, and the request is refused with 404 if any is not; duplicates are ignored. Agents managed by Orchestra cannot have their skills changed.",
        "operationId": "set_agent_skills",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The id of the agent.",
              "title": "Agent Id"
            },
            "description": "The id of the agent."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttachSkillToAgentRequest"
                },
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true,
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth": [
              "orchestra:write"
            ]
          }
        ]
      }
    },
    "/agents/{agent_id}/integrations": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List an agent's integrations",
        "description": "List the integration connections an agent can use. Each `integration` is a connection key of the form `<INTEGRATION>_<connection id>`, e.g. `SNOWFLAKE_my_connection`. Returns 404 if the agent does not exist in the workspace the credential resolves to.",
        "operationId": "list_agent_integrations",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The id of the agent.",
              "title": "Agent Id"
            },
            "description": "The id of the agent."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Results per page, from 1 to 100.",
              "default": 50,
              "title": "Page Size"
            },
            "description": "Results per page, from 1 to 100."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page to return, starting at 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "The page to return, starting at 1."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_AgentIntegrationMappingResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true
      },
      "put": {
        "tags": [
          "Agents"
        ],
        "summary": "Set an agent's integrations",
        "description": "Replace the integration connections an agent can use with the given list, and return the agent's integrations afterwards. An empty list removes them all. Each `integration` is a connection key of the form `<INTEGRATION>_<connection id>`, e.g. `SNOWFLAKE_my_connection`, and must be a connection in the same workspace; the request is refused with 404 if any is not.",
        "operationId": "set_agent_integrations",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The id of the agent.",
              "title": "Agent Id"
            },
            "description": "The id of the agent."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttachIntegrationToAgentRequest"
                },
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentIntegrationMappingResponse"
                  },
                  "title": "Response Set Agent Integrations"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true,
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth": [
              "orchestra:write"
            ]
          }
        ]
      }
    },
    "/sessions": {
      "get": {
        "tags": [
          "Agent Sessions"
        ],
        "summary": "List agent sessions",
        "description": "List the agent sessions in the workspace the credential resolves to that the caller can see, most recently updated first. A session started by a user in the Orchestra UI is visible to that user alone, so an API key never sees one. Sessions started for a task run or an incident are visible to everyone in the workspace who can view the agent.",
        "operationId": "list_agent_sessions",
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only return sessions of this agent.",
              "title": "Agent Id"
            },
            "description": "Only return sessions of this agent."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentSessionStatusEnum"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only return sessions in these statuses. Repeat the parameter to match any of several, e.g. `?status=BUSY&status=IDLE`. One of `BUSY`, `EXPIRED`, `FAILED`, `IDLE`, `INITIALISING`, `PENDING`, `STARTUP_ERROR`.",
              "title": "Status"
            },
            "description": "Only return sessions in these statuses. Repeat the parameter to match any of several, e.g. `?status=BUSY&status=IDLE`. One of `BUSY`, `EXPIRED`, `FAILED`, `IDLE`, `INITIALISING`, `PENDING`, `STARTUP_ERROR`."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of items per page. Defaults to 50; maximum 100.",
              "default": 50,
              "title": "Page Size"
            },
            "description": "Number of items per page. Defaults to 50; maximum 100."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number. Must be greater than or equal to 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number. Must be greater than or equal to 1."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_AgentSessionResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true
      },
      "post": {
        "tags": [
          "Agent Sessions"
        ],
        "summary": "Start an agent session",
        "description": "Start a session with an agent and send it a first prompt. The agent replies asynchronously: this returns once the prompt is queued, and the reply is read from `GET /sessions/{session_id}/history/messages`. Without `incidentId` the session is the caller's own, so it needs an OAuth token and an API key gets 400. With `incidentId` it is the incident's, visible across the workspace, and an incident's open session takes the prompt instead of a new one starting. Needs a grant to run the agent, and to view the incident when `incidentId` is set.",
        "operationId": "create_agent_session",
        "parameters": [
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSessionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true,
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth": [
              "orchestra:write"
            ]
          }
        ]
      }
    },
    "/sessions/{session_id}": {
      "get": {
        "tags": [
          "Agent Sessions"
        ],
        "summary": "Get an agent session",
        "description": "Get an agent session by ID. Returns 404 for a session the caller cannot see, and 403 for one whose agent the caller cannot view. A session started by a user in the Orchestra UI is visible to that user alone, so an API key never sees one. Sessions started for a task run or an incident are visible to everyone in the workspace who can view the agent.",
        "operationId": "get_agent_session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "Agent session ID.",
              "title": "Session Id"
            },
            "description": "Agent session ID."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSessionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true
      },
      "post": {
        "tags": [
          "Agent Sessions"
        ],
        "summary": "Send a message to an agent session",
        "description": "Send a further prompt to an agent session. The agent replies asynchronously: this returns once the prompt is queued, and the reply is read from `GET /sessions/{session_id}/history/messages`. Needs a grant to run the session's agent. Returns 404 for a session the caller cannot see, and 403 for one whose agent the caller cannot run. A session started by a user in the Orchestra UI is visible to that user alone, so an API key never sees one. Sessions started for a task run or an incident are visible to everyone in the workspace who can view the agent.",
        "operationId": "send_agent_session_message",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "Agent session ID.",
              "title": "Session Id"
            },
            "description": "Agent session ID."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSessionMessageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true,
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth": [
              "orchestra:write"
            ]
          }
        ]
      }
    },
    "/sessions/{session_id}/history/messages": {
      "get": {
        "tags": [
          "Agent Sessions"
        ],
        "summary": "Read an agent session's messages",
        "description": "Read a page of an agent session's messages, a whole number of complete turns at a time, oldest first. Pass exactly one of `before_sequence_id` or `after_sequence_id`. Every message carries a `sequenceId` of the form `<unix-milliseconds>-<counter>`, and sequence IDs order as strings. So `before_sequence_id` set to the current time in milliseconds reads the latest turns, and `after_sequence_id=0` reads from the start of the session. Page back with `nextBeforeSequenceId` while `hasPreviousPage` is true, and forward with `nextAfterSequenceId` while `hasNextPage` is true. A turn still in progress is left out until it completes. Returns 404 for a session the caller cannot see, and 403 for one whose agent the caller cannot view. A session started by a user in the Orchestra UI is visible to that user alone, so an API key never sees one. Sessions started for a task run or an incident are visible to everyone in the workspace who can view the agent.",
        "operationId": "get_agent_session_history_messages",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "Agent session ID.",
              "title": "Session Id"
            },
            "description": "Agent session ID."
          },
          {
            "name": "before_sequence_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Return the turns that end before this sequence ID, i.e. page back in time. Cannot be combined with `after_sequence_id`.",
              "title": "Before Sequence Id"
            },
            "description": "Return the turns that end before this sequence ID, i.e. page back in time. Cannot be combined with `after_sequence_id`."
          },
          {
            "name": "after_sequence_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Return the turns that start after this sequence ID, i.e. page forward in time. Cannot be combined with `before_sequence_id`.",
              "title": "After Sequence Id"
            },
            "description": "Return the turns that start after this sequence ID, i.e. page forward in time. Cannot be combined with `before_sequence_id`."
          },
          {
            "name": "turn_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 10,
              "minimum": 1,
              "description": "Number of turns per page. Defaults to 3; maximum 10.",
              "default": 3,
              "title": "Turn Limit"
            },
            "description": "Number of turns per page. Defaults to 3; maximum 10."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionHistoryMessagesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true
      }
    },
    "/sessions/{session_id}/history": {
      "get": {
        "tags": [
          "Agent Sessions"
        ],
        "summary": "Stream an agent session's history",
        "description": "Stream an agent session as Server-Sent Events: the last three turns are replayed, including any turn still in progress, then new messages are sent as the session produces them. The stream closes after ten minutes without a new message. Every message carries a `sequenceId` of the form `<unix-milliseconds>-<counter>`, and sequence IDs order as strings. To read a session's replies without holding a connection open, use `GET /sessions/{session_id}/history/messages`. Returns 404 for a session the caller cannot see, and 403 for one whose agent the caller cannot view. A session started by a user in the Orchestra UI is visible to that user alone, so an API key never sees one. Sessions started for a task run or an incident are visible to everyone in the workspace who can view the agent.",
        "operationId": "stream_agent_session_history",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "Agent session ID.",
              "title": "Session Id"
            },
            "description": "Agent session ID."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "responses": {
          "200": {
            "description": "A `text/event-stream` of `data:` events, each one session message as JSON, interleaved with `: keep-alive` comments.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/{session_id}/cancel": {
      "post": {
        "tags": [
          "Agent Sessions"
        ],
        "summary": "Cancel an agent session prompt",
        "description": "Ask an agent session to stop working on a prompt, named by the `promptAcceptedSequenceId` its history records for it. This returns once the cancel is queued, and the history records when the prompt stops. Needs a grant to run the session's agent. Returns 404 for a session the caller cannot see, and 403 for one whose agent the caller cannot run. A session started by a user in the Orchestra UI is visible to that user alone, so an API key never sees one. Sessions started for a task run or an incident are visible to everyone in the workspace who can view the agent.",
        "operationId": "cancel_agent_session_prompt",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "Agent session ID.",
              "title": "Session Id"
            },
            "description": "Agent session ID."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelSessionMessageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true,
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth": [
              "orchestra:write"
            ]
          }
        ]
      }
    },
    "/skills": {
      "get": {
        "tags": [
          "Skills"
        ],
        "summary": "List skills",
        "description": "List the skills available in the workspace the credential resolves to, including those managed by Orchestra. Each skill's `markdown` is omitted; fetch a single skill to read it.",
        "operationId": "list_skills",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only return skills whose name or description contains this text.",
              "title": "Search"
            },
            "description": "Only return skills whose name or description contains this text."
          },
          {
            "name": "orchestra_managed",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only return skills managed by Orchestra (`true`) or not (`false`).",
              "title": "Orchestra Managed"
            },
            "description": "Only return skills managed by Orchestra (`true`) or not (`false`)."
          },
          {
            "name": "sync_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Only return git-backed skills in these sync states, as a comma-separated list of OK, ERROR, DISCONNECTED.",
              "default": "",
              "title": "Sync Status"
            },
            "description": "Only return git-backed skills in these sync states, as a comma-separated list of OK, ERROR, DISCONNECTED."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Results per page, from 1 to 100.",
              "default": 50,
              "title": "Page Size"
            },
            "description": "Results per page, from 1 to 100."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page to return, starting at 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "The page to return, starting at 1."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_SkillResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true
      },
      "post": {
        "tags": [
          "Skills"
        ],
        "summary": "Create a skill",
        "description": "Create a skill from a markdown document. The markdown must open with YAML frontmatter holding the skill's `name` and `description`. Returns 409 if the workspace already has a skill with that name.",
        "operationId": "create_skill",
        "parameters": [
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSkillRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true,
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth": [
              "orchestra:write"
            ]
          }
        ]
      }
    },
    "/skills/{skill_id}": {
      "get": {
        "tags": [
          "Skills"
        ],
        "summary": "Get a skill",
        "description": "Fetch a single skill, including its full `markdown`.",
        "operationId": "get_skill",
        "parameters": [
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The id of the skill.",
              "title": "Skill Id"
            },
            "description": "The id of the skill."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true
      },
      "patch": {
        "tags": [
          "Skills"
        ],
        "summary": "Update a skill",
        "description": "Replace a skill's markdown. Its `name` and `description` are re-read from the new frontmatter. Skills imported from git are read-only: edit the file in the connected repository instead. Skills managed by Orchestra cannot be changed.",
        "operationId": "update_skill",
        "parameters": [
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The id of the skill.",
              "title": "Skill Id"
            },
            "description": "The id of the skill."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchSkillRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true,
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth": [
              "orchestra:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Skills"
        ],
        "summary": "Delete a skill",
        "description": "Delete a skill. Skills managed by Orchestra cannot be deleted. Deleting a skill imported from git removes it from Orchestra only; the file in the repository is left as it is.",
        "operationId": "delete_skill",
        "parameters": [
          {
            "name": "skill_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "description": "The id of the skill.",
              "title": "Skill Id"
            },
            "description": "The id of the skill."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true,
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth": [
              "orchestra:write"
            ]
          }
        ]
      }
    },
    "/skills/import": {
      "post": {
        "tags": [
          "Skills"
        ],
        "summary": "Import a skill from git",
        "description": "Import a skill from a markdown file in the workspace's connected git repository, with the same frontmatter as a created skill. Skills imported from git are read-only: edit the file in the connected repository instead. Returns 422 if no git provider is connected, 404 if the file is not on the branch.",
        "operationId": "import_skill",
        "parameters": [
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportSkillRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true,
        "security": [
          {
            "ApiKey": []
          },
          {
            "OAuth": [
              "orchestra:write"
            ]
          }
        ]
      }
    },
    "/usage": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Get agent token usage",
        "description": "Retrieve the input and output tokens spent by agent sessions in the account, summed across every agent and LLM connection, as totals for the period and in consecutive time buckets. A session counts towards the bucket it was created in.\n\n<Note>\n  `time_from` and `time_to` are optional. If neither is provided, the API returns the last 30 days. If only one is provided, the period is the 30 days after `time_from` or before `time_to`. The maximum period per request is 366 days, and `time_from` cannot be earlier than 2023-01-01.\n</Note>\n\nRequires permission to view account settings.",
        "operationId": "get_agent_usage",
        "parameters": [
          {
            "name": "time_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start of the period as an ISO 8601 datetime with a UTC offset, for example `2026-09-01T00:00:00Z`.",
              "format": "date-time",
              "title": "Time From"
            },
            "description": "Start of the period as an ISO 8601 datetime with a UTC offset, for example `2026-09-01T00:00:00Z`."
          },
          {
            "name": "time_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End of the period as an ISO 8601 datetime with a UTC offset, for example `2026-10-01T00:00:00Z`.",
              "format": "date-time",
              "title": "Time To"
            },
            "description": "End of the period as an ISO 8601 datetime with a UTC offset, for example `2026-10-01T00:00:00Z`."
          },
          {
            "name": "bucket_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 527040,
              "minimum": 15,
              "description": "Length of each time bucket in minutes. Defaults to 1440 (one day); minimum 15, maximum 527040 (366 days).",
              "default": 1440,
              "title": "Bucket Size"
            },
            "description": "Length of each time bucket in minutes. Defaults to 1440 (one day); minimum 15, maximum 527040 (366 days)."
          },
          {
            "name": "X-Orchestra-Account-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers.",
              "title": "X-Orchestra-Account-Id"
            },
            "description": "Act on this account rather than the one the credential resolves to. Omit it to use the credential's own account. An API key is issued to a single account, so it may only name that account; an OAuth token may name any account its grant covers."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSessionUsageBucketsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-orchestra-mcp": true
      }
    }
  },
  "components": {
    "schemas": {
      "AccountDefaultLLMKey": {
        "properties": {
          "type": {
            "type": "string",
            "const": "ACCOUNT_DEFAULT",
            "title": "Type"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "type"
        ],
        "title": "AccountDefaultLLMKey",
        "description": "Whichever key the workspace has chosen, followed rather than overridden."
      },
      "AgentAvatarCatalogEntryResponse": {
        "properties": {
          "path": {
            "type": "string",
            "title": "Path"
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url"
          },
          "custom": {
            "type": "boolean",
            "title": "Custom"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "path",
          "url",
          "custom"
        ],
        "title": "AgentAvatarCatalogEntryResponse"
      },
      "AgentAvatarCatalogResponse": {
        "properties": {
          "results": {
            "items": {
              "$ref": "#/components/schemas/AgentAvatarCatalogEntryResponse"
            },
            "type": "array",
            "title": "Results"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "results"
        ],
        "title": "AgentAvatarCatalogResponse"
      },
      "AgentIntegrationMappingResponse": {
        "properties": {
          "agentId": {
            "type": "string",
            "format": "uuid4",
            "title": "Agentid"
          },
          "integration": {
            "type": "string",
            "title": "Integration"
          },
          "createdAt": {
            "type": "string",
            "title": "Createdat"
          },
          "createdBy": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid4"
              },
              {
                "type": "null"
              }
            ],
            "title": "Createdby"
          },
          "updatedAt": {
            "type": "string",
            "title": "Updatedat"
          },
          "updatedBy": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid4"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updatedby"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "agentId",
          "integration",
          "createdAt",
          "createdBy",
          "updatedAt",
          "updatedBy"
        ],
        "title": "AgentIntegrationMappingResponse"
      },
      "AgentListResponse": {
        "properties": {
          "agentId": {
            "type": "string",
            "format": "uuid4",
            "title": "Agentid"
          },
          "organisationId": {
            "type": "string",
            "format": "uuid",
            "title": "Organisationid"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "title": "Accountid"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "avatarPath": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Avatarpath"
          },
          "avatarUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Avatarurl"
          },
          "samplePrompts": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Sampleprompts",
            "default": []
          },
          "gitEnabled": {
            "type": "boolean",
            "title": "Gitenabled"
          },
          "defaultModelId": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AgentSessionModelEnum"
              },
              {
                "type": "null"
              }
            ]
          },
          "defaultEffort": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AgentSessionEffortEnum"
              },
              {
                "type": "null"
              }
            ]
          },
          "llmKeyType": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/AccountDefaultLLMKey"
              },
              {
                "$ref": "#/components/schemas/OrchestraLLMKey"
              },
              {
                "$ref": "#/components/schemas/ConnectionLLMKey"
              }
            ],
            "title": "Llmkeytype",
            "discriminator": {
              "propertyName": "type",
              "mapping": {
                "ACCOUNT_DEFAULT": "#/components/schemas/AccountDefaultLLMKey",
                "CONNECTION": "#/components/schemas/ConnectionLLMKey",
                "ORCHESTRA": "#/components/schemas/OrchestraLLMKey"
              }
            }
          },
          "orchestraManaged": {
            "type": "boolean",
            "title": "Orchestramanaged",
            "default": false
          },
          "createdAt": {
            "type": "string",
            "title": "Createdat"
          },
          "createdBy": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid4"
              },
              {
                "type": "null"
              }
            ],
            "title": "Createdby"
          },
          "updatedAt": {
            "type": "string",
            "title": "Updatedat"
          },
          "updatedBy": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid4"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updatedby"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "agentId",
          "organisationId",
          "accountId",
          "name",
          "description",
          "gitEnabled",
          "llmKeyType",
          "createdAt",
          "createdBy",
          "updatedAt",
          "updatedBy"
        ],
        "title": "AgentListResponse"
      },
      "AgentResponse": {
        "properties": {
          "agentId": {
            "type": "string",
            "format": "uuid4",
            "title": "Agentid"
          },
          "organisationId": {
            "type": "string",
            "format": "uuid",
            "title": "Organisationid"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "title": "Accountid"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "avatarPath": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Avatarpath"
          },
          "avatarUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Avatarurl"
          },
          "samplePrompts": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Sampleprompts",
            "default": []
          },
          "systemPrompt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Systemprompt"
          },
          "responsePrompt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Responseprompt"
          },
          "secrets": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Secrets"
          },
          "gitEnabled": {
            "type": "boolean",
            "title": "Gitenabled"
          },
          "defaultModelId": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AgentSessionModelEnum"
              },
              {
                "type": "null"
              }
            ]
          },
          "defaultEffort": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AgentSessionEffortEnum"
              },
              {
                "type": "null"
              }
            ]
          },
          "llmKeyType": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/AccountDefaultLLMKey"
              },
              {
                "$ref": "#/components/schemas/OrchestraLLMKey"
              },
              {
                "$ref": "#/components/schemas/ConnectionLLMKey"
              }
            ],
            "title": "Llmkeytype",
            "discriminator": {
              "propertyName": "type",
              "mapping": {
                "ACCOUNT_DEFAULT": "#/components/schemas/AccountDefaultLLMKey",
                "CONNECTION": "#/components/schemas/ConnectionLLMKey",
                "ORCHESTRA": "#/components/schemas/OrchestraLLMKey"
              }
            }
          },
          "orchestraManaged": {
            "type": "boolean",
            "title": "Orchestramanaged",
            "default": false
          },
          "createdAt": {
            "type": "string",
            "title": "Createdat"
          },
          "createdBy": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid4"
              },
              {
                "type": "null"
              }
            ],
            "title": "Createdby"
          },
          "updatedAt": {
            "type": "string",
            "title": "Updatedat"
          },
          "updatedBy": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid4"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updatedby"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "agentId",
          "organisationId",
          "accountId",
          "name",
          "description",
          "gitEnabled",
          "llmKeyType",
          "createdAt",
          "createdBy",
          "updatedAt",
          "updatedBy"
        ],
        "title": "AgentResponse"
      },
      "AgentRuntimeStreamTypeEnum": {
        "type": "string",
        "enum": [
          "dispatch.error",
          "pipeline.update.rejected",
          "pipeline.update.started",
          "pipeline.update.validated",
          "provider.message",
          "runtime.error",
          "session.model.substituted",
          "session.name.updated",
          "turn.cancelled",
          "turn.completed",
          "turn.heartbeat",
          "turn.started"
        ],
        "title": "AgentRuntimeStreamTypeEnum"
      },
      "AgentRuntimeWebsocketKind": {
        "type": "string",
        "enum": [
          "assign.session",
          "prompt.cancel",
          "prompt.dispatched",
          "runtime.ready",
          "runtime.register",
          "shutdown.approved",
          "shutdown.requested"
        ],
        "title": "AgentRuntimeWebsocketKind"
      },
      "AgentSessionClientEventTypeEnum": {
        "type": "string",
        "enum": [
          "prompt.accepted",
          "prompt.cancel_requested"
        ],
        "title": "AgentSessionClientEventTypeEnum"
      },
      "AgentSessionEffortEnum": {
        "type": "string",
        "enum": [
          "low",
          "medium",
          "high",
          "xhigh",
          "max"
        ],
        "title": "AgentSessionEffortEnum"
      },
      "AgentSessionFundedByEnum": {
        "type": "string",
        "enum": [
          "ORCHESTRA",
          "CUSTOMER"
        ],
        "title": "AgentSessionFundedByEnum",
        "description": "Who pays for a session's tokens."
      },
      "AgentSessionModeEnum": {
        "type": "string",
        "enum": [
          "USER",
          "TASK_RUN",
          "INCIDENT"
        ],
        "title": "AgentSessionModeEnum"
      },
      "AgentSessionModelEnum": {
        "type": "string",
        "enum": [
          "claude-opus-4-6",
          "claude-sonnet-4-6",
          "claude-opus-4-8",
          "claude-opus-5",
          "claude-sonnet-5",
          "claude-opus-5-5"
        ],
        "title": "AgentSessionModelEnum"
      },
      "AgentSessionResponse": {
        "properties": {
          "sessionId": {
            "type": "string",
            "format": "uuid4",
            "title": "Sessionid"
          },
          "organisationId": {
            "type": "string",
            "format": "uuid4",
            "title": "Organisationid"
          },
          "accountId": {
            "type": "string",
            "format": "uuid4",
            "title": "Accountid"
          },
          "agentId": {
            "type": "string",
            "format": "uuid4",
            "title": "Agentid"
          },
          "sessionMode": {
            "$ref": "#/components/schemas/AgentSessionModeEnum"
          },
          "ownerId": {
            "type": "string",
            "title": "Ownerid"
          },
          "pipelineRunId": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid4"
              },
              {
                "type": "null"
              }
            ],
            "title": "Pipelinerunid"
          },
          "status": {
            "$ref": "#/components/schemas/AgentSessionStatusEnum"
          },
          "modelId": {
            "$ref": "#/components/schemas/AgentSessionModelEnum"
          },
          "effort": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AgentSessionEffortEnum"
              },
              {
                "type": "null"
              }
            ]
          },
          "fundedBy": {
            "$ref": "#/components/schemas/AgentSessionFundedByEnum"
          },
          "llmIntegration": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/IntegrationsEnum"
              },
              {
                "type": "null"
              }
            ]
          },
          "llmConnectionId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Llmconnectionid"
          },
          "createdAt": {
            "type": "string",
            "title": "Createdat"
          },
          "updatedAt": {
            "type": "string",
            "title": "Updatedat"
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "sessionId",
          "organisationId",
          "accountId",
          "agentId",
          "sessionMode",
          "ownerId",
          "status",
          "modelId",
          "fundedBy",
          "createdAt",
          "updatedAt"
        ],
        "title": "AgentSessionResponse"
      },
      "AgentSessionStatusEnum": {
        "type": "string",
        "enum": [
          "BUSY",
          "EXPIRED",
          "FAILED",
          "IDLE",
          "INITIALISING",
          "PENDING",
          "STARTUP_ERROR"
        ],
        "title": "AgentSessionStatusEnum"
      },
      "AgentSessionUsageBucket": {
        "properties": {
          "timeFrom": {
            "type": "string",
            "title": "Timefrom"
          },
          "timeTo": {
            "type": "string",
            "title": "Timeto"
          },
          "values": {
            "$ref": "#/components/schemas/AgentSessionUsageBucketValues"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "timeFrom",
          "timeTo",
          "values"
        ],
        "title": "AgentSessionUsageBucket"
      },
      "AgentSessionUsageBucketValues": {
        "properties": {
          "totalInputTokens": {
            "type": "integer",
            "title": "Totalinputtokens"
          },
          "totalOutputTokens": {
            "type": "integer",
            "title": "Totaloutputtokens"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "totalInputTokens",
          "totalOutputTokens"
        ],
        "title": "AgentSessionUsageBucketValues"
      },
      "AgentSessionUsageBucketsResponse": {
        "properties": {
          "buckets": {
            "items": {
              "$ref": "#/components/schemas/AgentSessionUsageBucket"
            },
            "type": "array",
            "title": "Buckets"
          },
          "timeFrom": {
            "type": "string",
            "title": "Timefrom"
          },
          "timeTo": {
            "type": "string",
            "title": "Timeto"
          },
          "values": {
            "$ref": "#/components/schemas/AgentSessionUsageBucketValues"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "buckets",
          "timeFrom",
          "timeTo",
          "values"
        ],
        "title": "AgentSessionUsageBucketsResponse",
        "description": "Agent session tokens for the account over a period, in time buckets with totals."
      },
      "AgentSkillMappingResponse": {
        "properties": {
          "agentId": {
            "type": "string",
            "format": "uuid4",
            "title": "Agentid"
          },
          "skillId": {
            "type": "string",
            "format": "uuid4",
            "title": "Skillid"
          },
          "skillName": {
            "type": "string",
            "title": "Skillname"
          },
          "skillDescription": {
            "type": "string",
            "title": "Skilldescription"
          },
          "orchestraManaged": {
            "type": "boolean",
            "title": "Orchestramanaged",
            "default": false
          },
          "createdAt": {
            "type": "string",
            "title": "Createdat"
          },
          "createdBy": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid4"
              },
              {
                "type": "null"
              }
            ],
            "title": "Createdby"
          },
          "updatedAt": {
            "type": "string",
            "title": "Updatedat"
          },
          "updatedBy": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid4"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updatedby"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "agentId",
          "skillId",
          "skillName",
          "skillDescription",
          "createdAt",
          "createdBy",
          "updatedAt",
          "updatedBy"
        ],
        "title": "AgentSkillMappingResponse"
      },
      "AttachIntegrationToAgentRequest": {
        "properties": {
          "integration": {
            "type": "string",
            "title": "Integration"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "integration"
        ],
        "title": "AttachIntegrationToAgentRequest"
      },
      "AttachSkillToAgentRequest": {
        "properties": {
          "skillId": {
            "type": "string",
            "format": "uuid4",
            "title": "Skillid"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "skillId"
        ],
        "title": "AttachSkillToAgentRequest"
      },
      "CancelSessionMessageRequest": {
        "properties": {
          "promptAcceptedSequenceId": {
            "type": "string",
            "title": "Promptacceptedsequenceid"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "promptAcceptedSequenceId"
        ],
        "title": "CancelSessionMessageRequest"
      },
      "ConnectionID": {
        "type": "string"
      },
      "ConnectionLLMKey": {
        "properties": {
          "integration": {
            "$ref": "#/components/schemas/IntegrationsEnum"
          },
          "connectionId": {
            "$ref": "#/components/schemas/ConnectionID"
          },
          "type": {
            "type": "string",
            "const": "CONNECTION",
            "title": "Type"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "integration",
          "connectionId",
          "type"
        ],
        "title": "ConnectionLLMKey",
        "description": "One of the account's own connections, named as the key the agent's runs are made with."
      },
      "CreateAgentRequest": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "systemPrompt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Systemprompt"
          },
          "responsePrompt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Responseprompt"
          },
          "avatarPath": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Avatarpath"
          },
          "samplePrompts": {
            "items": {
              "type": "string",
              "maxLength": 500,
              "minLength": 1
            },
[...]
